.item {
  width: 40rem;
  min-height: 15rem;
  /* max-width: 100%; */
  background-color: rgb(233, 220, 220);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* background-color: hsl(207, 60%, 85%); */
  border-bottom: 5px solid rgb(205, 90, 109);

}

.product {
  max-width: 30%;
  margin: auto;
}

.product img {
  max-height: 85%;
  object-fit: contain;
  width: 100%;
}

.description {
  max-width: 60%;
  max-height: 85%;
  margin: auto;
  display: block;
  font-size: 0.9rem;
}

.description .title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0.5rem 0;
}

.price {
  font-weight: 700;
  color: red;
  margin: 0.5rem 0;
}

.price span {
  text-decoration: line-through;
  color: black;
  margin-right: 0.3rem;
}

.ingredients {
  display: flex;
  flex-flow: column;
  font-weight: bold;
}

.ingredients,
.quantity {
  font-size: 0.85rem;
  color: rgb(34, 28, 28);
  margin: 0.2rem;
  text-transform: capitalize;
}


.buttons {
  margin: 3rem 0 0;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.buttons span {
  margin: 0 1rem;
  text-transform: capitalize;
}

.buttons span:hover {
  color: rgb(230, 40, 40);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantity {
  width: 70%;
}

@media (max-width: 500px) {
  .item {
      flex-wrap: wrap;
      justify-content:space-around;
  }
}