/* .navpages{
    height: 100%;
} */


.navpages ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row; 
}





 
     @media (max-width : 605px){
         .navpages ul{
             height: 100%;
             width: 100%;
             flex-flow: column;
             align-items: center;
            
    }


    .navpages ul li{
        justify-content: space-around;
        align-content: center;
        width: 100%;
        padding: .5em 0;
        margin-bottom: 2rem;
         transition: all .5s; 
     }

     .navpages ul li a{
        letter-spacing: 2px;
        font-size: 1rem;
        transition: all .5s;
     }
     
     .navpages ul li:hover{
         background: lightgray;
     }
    }