.container{
    width: 100%; 
    background: rgb(236, 219, 204);
}
.container .header{
color: palevioletred;
text-transform: capitalize;
text-align: center;
margin-bottom: 5rem;
margin: auto;
padding-top: 5rem;
font-family: 'Lobster', cursive;
margin-bottom: 4rem;
}
.container .paragraph{
    text-align: end;
    font-weight: bolder;
    text-transform: capitalize;
    margin-right: 10%;
    margin-bottom: 3rem;
    font-style: italic;
    letter-spacing: 2px;
    font-family: 'Satisfy', cursive;
}

.cards{
    position: relative;
    width: 100%;
    height: auto;
    /* height: 30rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 3rem;
}
.cards > *{
   flex-shrink: 1;
}

@media(max-width : 880px){
    .cards{
        flex-wrap: wrap;
    }
    .paragraph{
        text-align: center;
    }
}