.sidebar{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 75;
}



@media (min-width : 660px){
    .sidebar{
        display: none;
    }
}