.container{
    background-color: bisque;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 15vh;
}

.title{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: palevioletred;
    font-family: 'Lobster', cursive;
    margin: 5rem auto 2rem 5rem;
    display: inline-block;
    letter-spacing: 1px;
}


.orders{
    
    position: relative;
    top: 2rem;
}

 .norders{
    position: relative;
    top: 10rem;
    
    width: 650px;
    max-width: 80%;
      border: 2px solid lightgray;
      box-shadow: 0px 1px 5px gray;
      padding: 10px 20px;
      
     margin: auto;
     background: rgb(238, 232, 232);

     font-size: medium;
     font-weight: 700;

     display: flex;
     justify-content: space-between;
        flex-wrap: wrap;
    }

.norders button{
    background-color: hsl(6, 93%, 71%);
}

.norders button:hover{
    background-color: hsl(6, 93%, 75%);
}

@media (max-width : 820px) {
    .title{
        text-align: center;
        margin: 3rem auto;
    }
}