.container{
    background-color: bisque;
    width: 100%;
    min-height: 80vh;
    padding-bottom: 15vh;
    overflow-x: hidden;
}

.title{
    width: 100%;
    font-size: clamp(1.5rem,6vw,2.5rem);
    font-weight: bold;
    color: palevioletred;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 4rem auto 1.5rem auto;
    display: inline-block;
    letter-spacing: 1px;
}


.orders{
    
    position: relative;
    top: 2rem;
}

 .norders{
    position: relative;
    top: 6rem;
    
    width: 650px;
    max-width: 80%;
      border: 2px solid lightgray;
      box-shadow: 0px 1px 5px gray;
      padding: 10px 20px;
      
     margin: auto;
     background: rgb(238, 232, 232);

     font-size: clamp(.4rem, 1.2rem, 2rem);
     font-weight: 700;

     display: flex;
     justify-content: space-between;
        flex-wrap: wrap;

    }


.norders button{
    background-color: hsl(6, 93%, 71%);
}

.norders button:hover{
    background-color: hsl(6, 93%, 75%);
}

@media (max-width : 820px) {
    .title{
        text-align: center;
        margin: 5rem auto 2rem auto;
    }
}

@media (max-width : 450px){
    .norders{
        flex-direction: column;
        align-items: center;
    }

    .norders button{
        margin-top: 1.5rem;
    }
}