.Burger {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: visible;
    overflow-x: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 23em;
    height: 10em;
}

