.button{
    display: inline-block;
    padding: 0.2em 0.5em; 
    margin: 0 3rem;
    height: 2em;
    width: auto;
    align-items: center;
    color: white;
    white-space: nowrap;
    font-weight: bold;
    font-size: smaller;
    border-radius: 0.68em;
    cursor: pointer;
    letter-spacing: 0.03rem;
    border: none;
    outline: none;
}

.success:enabled{
    background-color: #0d7e11;
}

.success:hover:enabled{
    background-color: #28c72d;
}


.cancel{
    background-color: rgb(110, 29, 29);
}

.cancel:hover{
    background-color: rgb(200, 43, 43);
}

.button:disabled{
    color: rgb(65, 55, 55);
    cursor: not-allowed;
    background-color: lightgray;
}