.formContainer{
    margin : 30px auto;
    width: 350px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 2px solid  #eee;
    padding: 20px;
    box-sizing: border-box;
}

.form{
    margin: auto;
}

.validation{
    color: #ff0039;
    font-weight: bold;
    font-size: smaller;
    text-transform: capitalize;
}

/* @media (min-width: 660px){
    .formContainer{
    width: 500px;
    }
} */