.formContainer{
    margin : 30px auto;
    width: 350px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 2px 5px 4px #ccc;
    border: 2px solid  #eee;
    padding: 20px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-top: 5px solid slateblue ;
}

.header{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

.form{
    margin: auto;
}

.form input::placeholder{
    color: rgb(129, 123, 123);
    font-weight: 600;
    text-transform: capitalize;
    font-size: small;
    letter-spacing: .5px;
    transition: color 0.3s ease-in;
}
.form input:focus::placeholder{
    color: transparent;
}



.validation{
    color: #ff0039;
    font-weight: bold;
    font-size: smaller;
    text-transform: capitalize;
}

/* @media (min-width: 660px){
    .formContainer{
    width: 500px;
    }
} */