*{
    box-sizing: border-box;
}

.navpage{
    list-style: none;
    padding: .5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navpage div{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(106, 108, 117);
   }


.navpage a{
    padding: .15em 0.6em;
   text-decoration: none;
   color: black;
   font-size: .7rem;
   font-weight: bold;
   transition: all 0.2s ease;
   letter-spacing: .5px;
   /* height: 100%; */
   display: block;
}

/* .navpage a:hover, */
.navpage a:active,
.navpage a:focus,
.navpage a.active{
    color: rgb(231, 111, 81);
    /* text-decoration: underline; */
}      

.navpage a:hover{
   border-bottom: 4px solid rgb(128, 67, 128);
}

@media (max-width : 700px){
    .navpage a{
       color: white;
       border-bottom: none !important;
       width: 100%;
    }

    .navpage div{
        display:inline;
        text-align: center;
        padding-right: 1rem;
    }
    
}
