.checkoutsummary{
    width: 80%;
    text-align: center;
    margin: auto;
}

.burger{
    width: 80%;
    margin: auto;
}

.btns{
    width: 350px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

