.header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: green;
    border-bottom: 2px solid salmon ;
}

.header p{
    padding-left: 30px;
}

.header button {
   height: 1.8rem;
   margin: 1rem 1rem 0 0;
   outline: none;
   border: none;
   background: none;
   font-weight: bold;
   font-size: 1.5rem;
   cursor: pointer;
   text-align: center;
}

.header button:hover{
    background-color: orange;
}

.items{
    text-transform: capitalize;
    font-weight: bold;
}

.processingbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.processingbtn p{
    font-weight: bold;
    
}

/* .processingbtn button{
    background: lightgreen;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}

.processingbtn button:hover{
    background: rgb(66, 230, 66);
} */

