.authContainer{
    margin : 30px auto;
    width: 350px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 2px solid  #eee;
    padding: 20px;
    box-sizing: border-box;
}

.auth{
    margin: auto;
}



/* @media (min-width: 660px){
    .formContainer{
    width: 500px;
    }
} */