.card {
  width: 16rem;
  max-width: 80%;
  height: 22rem;
  margin: 2rem;
  background-color: rgb(238, 182, 182);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 4px rgba(128, 128, 128, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 8.5rem 0 0;
  overflow: hidden;
  transition: all 0.5s;
  transition-delay: 0.3s;
}

.card .cardcontent {
  color: white;
  padding: 1.5rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 5%, 0) 0%,
    hsla(0, 0%, 5%, 0.25) 18%,
    hsla(0, 0%, 6%, 0.5) 46%,
    hsla(0, 0%, 7%, 0.8) 75%,
    hsla(0, 0%, 8%, 0.9) 100%
  );
}
.cardcontent .title {
  position: relative;
  width: max-content;
  color: salmon;
}

.title::after {
  content: "";
  width: calc(100% + 1.5rem);
  height: 4px;
  background-color: green;
  position: absolute;
  left: calc(1.5rem * -1);
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.card:hover .title::after {
  transform: scale(1);
}

@media (hover) {
  .card {
    padding: 16rem 0 0;
  }
  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    padding: 8.5rem 0 0;
  }
  .card:hover .title::after {
    transform: scale(1);
  }
}

@media (max-width: 625px) {
  .card {
    max-width: 80%;
    height: auto;
  }
}
