.container{
    
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin:  auto;
  flex-wrap: wrap;
}

.title{
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: bold;
  margin: 2rem 5rem 0;
  font-style: italic;
  top: 2.5rem;
  text-transform: uppercase;
}

.page{
  background: #dae4de;
  border-top: 1px solid transparent; 
}


.wrap{
  width: 22rem;
  max-width: 80%;
  position: fixed;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 5rem;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid gray;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2d3531;
  height: 2.3rem;
}

.searchTerm:focus{
  color: black;
  font-weight: bold;
  font-size: 1rem;
}


.searchButton {
  width: 3rem;
  height: 2.3rem;
  border: 1px solid black;
  background: gray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


@media (max-width : 650px) {
  .title{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
  }
}
